@media only screen and (min-width: 320px) and (max-width: 425px) {

     
    tr{
        display: flex;
        flex-direction: column;

        td{

            div{
                display: flex;
                flex-direction: column;
            }
        }
    }

  
   

  }