@media only screen and (min-width: 320px) and (max-width: 425px) {

  table{
    display: grid;
  
    thead{
    
        tr{
            display: grid;
            grid-template-columns: repeat(5, auto);
        }

    }

    tbody{
        display: flex;
        flex-direction: column;     

        .no-record{
              text-align: center !important;
        }
    }
}   
}