*{
  margin: 0;
  padding: 0;
}
/* .App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
.table{
  width: 100%;
  display: block;
  overflow: hidden;
  width: 100em;
  margin: auto;
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: collapse;
}
.modal_container{
  border: 1px solid;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.modal{
  border-radius: 5px;
  width: 25em;
  background-color: aliceblue;
  padding: 2rem;
}